<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <!-- issue here is that filters disappear when results come up, need to fix that -->
            <div class="google-colors">
                <h1 id="google-4">4</h1>
                <h1 id="google-3">3</h1>
                <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a Board Game" id="filter-text-val" onkeyup="filterText()">
            </div>
        </br>
            <div class="filters">
                <input placeholder="Min Age" id="min-age" type="number" />
                <input placeholder="Min Players" id="min-players" type="number" />
                <input placeholder="Max Players" id="max-players" type="number" />
                <input placeholder="Category" id="category" type="text" />
                <button onclick="filterText()">Search</button>
            </div>
        </div>
        <div id="answer-box">

        </div>

    </div>

    <script>

        function answerBoxTemplate(name, description, average,id){
            return `<div class='search-result' onclick="window.location.href='/about/${id}'">
            <p class='game-desc'>${id}</p>
            <h3 class='game-title'>${name}</h3>
            <p class='game-desc'>${description}</p>
            <p class='game-rating'>Average Rating: ${average.toFixed(2)}</p>
        </div>`;
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            const titleValue = document.getElementById("filter-text-val").value;
            const minAgeValue = document.getElementById("min-age").value || 0;
            const minPlayersValue = document.getElementById("min-players").value || 0;
            const maxPlayersValue = document.getElementById("max-players").value || Number.MAX_SAFE_INTEGER;
            const categoryValue = document.getElementById("category").value;

            const queryParams = new URLSearchParams({
                title: titleValue,
                min_age: minAgeValue,
                min_players: minPlayersValue,
                max_players: maxPlayersValue,
                category: categoryValue
            }).toString();

            document.getElementById("answer-box").innerHTML = ""
            fetch("/episodes?" + queryParams)
            .then((response) => response.json())
            .then((data) => {
                const answerBox = document.getElementById("answer-box");
                answerBox.innerHTML = "";
                data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.description, row.average, row.objectid);
                    answerBox.appendChild(tempDiv);
                });
            });
        }
            
    </script>
</body>