<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="overlay-container">
            <div class="top-text flex-grid">
                <div class="bold">
                    Rodents
                </div>
                <div class="input-container" style="position: relative;">
                    <div class="input-box" onclick="sendFocus()">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input name="title" placeholder="Search for a Boardgame" id="filter-text-val">
                    </div>
                    <div id="suggestionsBox"></div>
                </div>
                    <label for="toggleSearch">Recommendation Mode:</label> <label class="switch">
                        <input type="checkbox" id="toggleMode">
                        <span class="slider"></span>
                      </label>
            </div>
            <div class="sliding-row">
                <div class="boardgame"><img src="static/images/starwars.png" alt="Boardgame 2"></div>
                <div class="boardgame"><img src="static/images/tickettoride.png" alt="Boardgame 3"></div>
                <div class="boardgame"><img src="static/images/catan.png" alt="Boardgame 3"></div>
                <div class="boardgame"><img src="static/images/avalon.png" alt="Boardgame 3"></div>
                <div class="boardgame"><img src="static/images/unstable.png" alt="Boardgame 3"></div>
                <div class="boardgame"><img src="static/images/cham.png" alt="Boardgame 3"></div>
            </div>
        </div>
    </br>
    <div class="filters">
        <input placeholder="Min Age" id="min-age" type="number" />
        <input placeholder="Min Players" id="min-players" type="number" />
        <input placeholder="Max Players" id="max-players" type="number" />
        <select id="category">
            <option value="">Select a Category</option>
            <option value="Strategy">Strategy</option>
            <option value="Family">Family</option>
            <option value="Card Game">Card Game</option>
            <option value="Adventure">Adventure</option>
            <option value="Puzzle">Puzzle</option>
            <!-- Add more categories as needed -->
        </select>
        <button onclick="filterText()">Search</button>
    </div>
        <div id="answer-box">
        </div>
    </div>
 
    <script>
        function debounce(func, wait, immediate) {
            let timeout;
            return function() {
                const context = this, args = arguments;
                const later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                const callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        //attempt at suggestion list
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('filter-text-val');
            const suggestionsBox = document.getElementById('suggestionsBox');
            const toggleMode = document.getElementById('toggleMode');
        
            searchInput.addEventListener('input', debounce(function() {
                const query = searchInput.value.trim();
                if (query && toggleMode.checked) {
                    fetch(`/suggestions?query=${encodeURIComponent(query)}`)
                        .then(response => response.json())
                        .then(suggestions => {
                            suggestionsBox.innerHTML = '';
                            suggestionsBox.style.display = 'block';
                            suggestions.forEach(suggestion => {
                                const suggestionElement = document.createElement('div');
                                suggestionElement.textContent = suggestion;
                                suggestionElement.addEventListener('click', () => {
                                    searchInput.value = suggestion;
                                    suggestionsBox.style.display = 'none';
                                });
                                suggestionsBox.appendChild(suggestionElement);
                            });
                        });
                } else {
                    suggestionsBox.style.display = 'none';
                }
            }, 250));
        });
        </script>
        

    <script>

        function answerBoxTemplate(name, description, average,id, min_age, min_players, max_players, category){
            let twosent = description.split('.').slice(0, 2).join('.') + '.';
            let categoriesArray = category.split(','); 
            let categoriesList = '<ul> Category:';
            for (let i = 0; i < categoriesArray.length; i++) {
                categoriesList += `<li>${categoriesArray[i].trim()}</li>`; 
            }
            categoriesList += '</ul>';

           // let minAgeCheck = parseInt(min_age, 10) >= parseInt(currentMinAge, 10) ? '✔️' : '❌';
           // let minPlayersCheck = parseInt(min_players, 10) >= parseInt(currentMinPlayers, 10) ? '✔️' : '❌';
           // let maxPlayersCheck = parseInt(max_players, 10) <= parseInt(currentMaxPlayers, 10) ? '✔️' : '❌';

            //let categoryCheck = selectedCategory && categoriesArray.includes(selectedCategory) ? '✔️' : '❌';


            return `<div class='search-result' onclick="window.location.href='/about/${id}'">
            <div class='game-info'>
            <h3 class='game-title'>${name}</h3>
            <p class='game-desc'>${twosent}</p>
            <p class='game-rating'>Average Rating: ${average.toFixed(2)}</p>
            </div>
            <div class='client-info'>
                <p class='filters'>Min Age: ${min_age} </p>
                <p class='filters'>Min Players: ${min_players}</p>
                <p class='filters'>Max Players: ${max_players}</p>
                <p class='filters'>${categoriesList}</p>
            <div>
        </div>`;
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            const titleValue = document.getElementById("filter-text-val").value;
            const minAgeValue = document.getElementById("min-age").value || 0;
            const minPlayersValue = document.getElementById("min-players").value || 0;
            const maxPlayersValue = document.getElementById("max-players").value || Number.MAX_SAFE_INTEGER;
            const categoryValue = document.getElementById("category").value;
            const recommendationMode = document.querySelector('input[type="checkbox"]').checked ? 'recommendation' : 'regular';

            const queryParams = new URLSearchParams({
                title: titleValue,
                min_age: minAgeValue,
                min_players: minPlayersValue,
                max_players: maxPlayersValue,
                category: categoryValue,
                mode: recommendationMode
            }).toString();

            document.getElementById("answer-box").innerHTML = ""
            fetch("/games?" + queryParams)
            .then((response) => response.json())
            .then((data) => {
                const answerBox = document.getElementById("answer-box");
                answerBox.innerHTML = "";
                data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.description, row.average, row.objectid, row.minage, row.minplayers, row.maxplayers, row.boardgamecategory);
                    answerBox.appendChild(tempDiv);
                });
            });
        }
            
    </script>
</body>